@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        

        


        <form id="fileForm" method="post" enctype="multipart/form-data" asp-controller="AnalisePonto" asp-action="Index">
            <label for="fileInput">Escolha a pasta contendo os arquivos para análise:</label>
            <input class="form-control form-control-lg"
                   id="ctrl"
                   name="files"
                   type="file"
                   webkitdirectory directory multiple
                   onchange="handleFileSelection()">
            <br>
            <input type="submit" value="Enviar e realizar análise" />
            <br>
            <br>

        </form>


        <!-- 
            style="display: none"
            <button class="button-primary" onclick="activateFileInput()">Nova Análise</button>
        -->
    </div>
</div>
