@{
    ViewData["Title"] = "About Page";
}

<div class="text-start">
    <h1 class="display-4 text-start">Sistema TradingWorkingPage</h1>
    <p>
        A página de trabalho do TradingWorkingPage é um sistema interno utilizado para a marcação de horas, integrado aos sistemas DevOps e TradingWorking. Nesse contexto, desempenhei atividades relacionadas à manutenção do sistema e à implementação de novas funcionalidades.
        </p>
    <p>
        As tecnologias empregadas no projeto foram: C#, SQL Server, ASP.NET, EntityFramework
    </p>
    <p>
        A arquitetura do sistema foi estruturada seguindo os padrões: MVC, DAL, Services
    </p>
    
</div>