@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thiago Yuri Oliveira Monteiro</h1>
    <h3>Cargo: Desenvolvedor de sistema .NET</h3>
    <h3>Pretensão salarial: R$ 2800</h3>
    <h3>Data do teste: 17-11-2023</h3>
</div>
